

.upload-container {
  margin: 100px;
  padding: 20px;
  background-color: #0f121ff5;
  color: rgb(159, 155, 155);
}

h4 {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}

label {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

input[type="file"] {
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 4px;
  width: 100%;
}

.progress-bar-custom {
  height: 30px;
}

.btn-success {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-success:hover {
  background-color: #3e8e41;
}
